<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="parallel">
    <test name="Device-1" >
        <parameter name="deviceName" value="Xiaomi" />
        <parameter name="udid" value="emulator-5556" />
        <!--<parameter name="udid" value="emulator-5554" />-->
        <parameter name="platformVersion" value="11" />
        <parameter name="automationName" value="UiAutomator2" />
        <parameter name="url" value="http://127.0.0.1:4723/wd/hub" />
        <parameter name="app" value="C:\\Users\\jugov\\AndroidStudioProjects\\3450.apk" />
        <classes>
            <!--  <class name="testScript.LoginCrehanaTest"/> -->
             <class name="testScript.BlogsTest"/>
         </classes>
     </test>
 </suite>